* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white;
    background-size: cover;        /* Изображение покрывает весь экран */
    background-position: center;   /* Центрирование изображения */
    background-repeat: no-repeat;  /* Изображение не повторяется */
    filter: grayscale(45%);
    }
  
  .header {
    text-align: center;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  .container {
    display: flex;
    justify-content: space-between; /* Расстояние между словами */
    width: 200px; /* Ширина контейнера */
}
.hg{
    display: inline-block;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}
ul {
    margin: 10px 0;
}
li {
    margin: 5px 0;
}
 .containe {
    max-width: 800px;
    margin: 0 auto;
}
.highlight {
    color: #0066cc;
    font-weight: bold;
}